<div class="card main">
    <div class="accordion" id="accordionPanels"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    let currentIndex = 0;

    let convertedReadme = '';

    $(document).ready(function() {
        loadNextItem();
    });

    function loadNextItem() {
        let readmeValue = "";

        $.get('@Url.Action("LoadReadmePartial", "Home")', function(partialView) {
            readmeValue = partialView;
            if(readmeValue !== "")
            {
                $('.accordion').append(partialView);
            }
            else
            {
                $.get('@Url.Action("GetDynamicContent", "Home")', { index: currentIndex }, function(html) {
                    if (html.trim() === "") {
                        $.post('@Url.Action("SetReadmeCookie", "Home")', { convertedReadme: convertedReadme });
                    }
                    else
                    {
                        convertedReadme += html;
                        $('.accordion').append(html);
                        currentIndex++;
                        loadNextItem();
                    }
                }).fail(function() {
                    $('#loading-info').text('Błąd przy ładowaniu danych.');
                });
            }
        });
    }

</script>