<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PersonalWebsite</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PersonalWebsite.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid" style="height:100vh; align-content:center;">
        <div class="row">
            <div class="col-4 align-self-center">
                <div class="card text-center" style="align-items: center;">
                    <h5 class="card-title">
                        Michał Lewalski
                    </h5>
                    <div class="card-body">
                        <img src="..."
                             style="border-radius: 100px; max-width: 100px;"
                             onerror="this.onerror=null; this.src='https://static-00.iconduck.com/assets.00/person-icon-256x242-au2z2ine.png'"
                             class="card-img-top img-fluid"
                             alt="To ja :)" />
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a class="card-text text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="list-group-item">
                                <a class="card-text text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="border-top card-footer text-muted" style="padding-left: 0; padding-right: 0; width: -webkit-fill-available;">
                        &copy; 2025 - PersonalWebsite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </div>
            </div>
            <div class="col-8" style="height:90vh;">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="_framework/blazor.server.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
