@page
@using Microsoft.Fast.Components.FluentUI

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <FluentButton>Click to get answer</FluentButton>
        @(await Html.RenderComponentAsync<PersonalWebsite.Views.Shared.Components.TestComponent>(RenderMode.ServerPrerendered, new { Data = " Hello World " }))
    </div>
</div>
