<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PersonalWebsite</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PersonalWebsite.styles.css" asp-append-version="true" />
</head>
<body>
    <div class='light x1'></div>
    <div class='light x2'></div>
    <div class='light x3'></div>
    <div class='light x4'></div>
    <div class='light x5'></div>
    <div class='light x6'></div>
    <div class='light x7'></div>
    <div class='light x8'></div>
    <div class='light x9'></div>
    <div class="container-fluid center-card" style="height:100vh; align-content:center;">
        <div class="row">
            <div class="col-4 align-self-center">
                <div class="card text-center profile-card" style="align-items: center;">
                    <div class="card-body">
                        <img class="profile" src="https://media.licdn.com/dms/image/v2/D4D03AQE-CCLDlNgT2g/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1696697929898?e=1749081600&v=beta&t=PrgsLry8LDHUqR122aSUWkqEXFB3-EubLe7RqzFbgvk"
                             onerror="this.onerror=null; this.src='https://static-00.iconduck.com/assets.00/person-icon-256x242-au2z2ine.png'"
                             class="card-img-top img-fluid"
                             alt="To ja :)" />
                        <div style="padding-bottom: var(--bs-card-spacer-y)">
                            <h1 style="border-bottom: 1px solid #e5e5e5;">Michał Lewalski</h1>
                            <span style="display: inline-block;">
                                Completed Master's degree studies in the field of Computer Electronic Systems
                                3 years of professional experience in the commercial area as C# test development engineer
                                Knowledge and work in accordance with the Agile management methodology (Scrum)
                                Fluent communication in English (B1/B2)
                                Ability to work in a team, focus on building positive relationships with colleagues
                                I am fascinated by new technologies and constantly strive to develop my skills.
                            </span>
                        </div>
                        <div class="container-fluid text-center">
                            <div class="row">
                                <div class="col">
                                    <a class="card-text button" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </div>
                                <div class="col">
                                    <a class="card-text button" asp-area="" asp-controller="Home" asp-action="Portfolio">Portfolio</a>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="border-top card-footer text-muted" style="padding-left: 0; padding-right: 0; width: -webkit-fill-available;">
                        &copy; 2025 - PersonalWebsite
                    </div>
                </div>
            </div>
            <div class="col-8">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
